@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1 {
        @apply text-3xl;
        @apply font-bold;
        margin-bottom: 0.25em;
        margin-top: 1em;
    }

    h2 {
        @apply text-2xl;
        @apply font-bold;
        margin-bottom: 0.25em;
        margin-top: 1em;
    }

    h3 {
        @apply text-xl;
        @apply font-bold;
        margin-bottom: 0.25em;
        margin-top: 1em;
    }

    h4 {
        @apply text-lg;
        @apply font-bold;
        margin-bottom: 0.25em;
        margin-top: 1em;
    }

    h5 {
        @apply text-base;
        @apply font-bold;
        margin-bottom: 0.25em;
        margin-top: 1em;
    }

    h6 {
        @apply text-base;
        @apply font-semibold;
        margin-bottom: 0.25em;
        margin-top: 1em;
    }

    ol,
    ul {
        list-style: circle;
        margin-left: 1.5em;
    }

    li {
        margin-bottom: -0.2em;
    }

    p {
        @apply text-base;
        margin-bottom: 1em;
    }
}

body {
    background-color: #1C1F23;
}

.App {
    background-color: #1C1F23;
    color: #efe9e7;
}

.App-header {
    background-color: #282c34;
    height: calc(10px + 5vmin);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1em;
    font-weight: bolder;
}

.Problem {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10em;
    padding-left: 1em;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
    width: 95%;
    max-width: 80em;
    flex-direction: column;
}

.Problem-title {
    margin-top: 0;
    padding-top: 1em;
}

.Problem-user-code {
    margin-top: 0;
    padding-left: 5em;
    justify-items: left;
}

.Problem-template-code {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.Problem-desc {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 95%;
    max-width: 70em;
}

.Problem-solution {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 95%;
    max-width: 50em;
}

.helpButton {
    height: 2em;
}

.submitButton {
    height: 2em;
}

.nextProblemButton {
    height: 2em;
}

code[class^="hljs-"] {
    background: #000;
}

.Code-tutor-response {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 95%;
    max-width: 50em;
}

code {
    background-color: #282c34;
    color: #efe9e7;
    padding: 0.2em 0.4em;
    font-size: 80%;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 3px;
}

.katex-mathml {
    display: none;
}

.wecode-header {
    font-size: 1.5em;
    text-decoration: none;
    color: #f8e6f7;
}