.App {
  text-align: justify;
}

.App-header {
  background-color: #282c34;
  min-height: calc(10px + 4vmin);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.Problem {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10em;
  padding-bottom: 0;
  justify-content: left;
  padding-left: 2em;
  text-align: left;
}

.Problem-user-code {
  margin-top: 0;
  padding-left: 5em;
  justify-items: left;
}

.Problem-template-code {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1.2em;
}

.Problem-desc {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 95%;
  max-width: 50em;
}

.Problem-solution {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 95%;
    max-width: 50em;
}

.Test-passed {
  background: #00FF00;
  color: #000;

}

.Test-failed {
  background: #FF0000;
  color: #000;
}


